body {
  font-family: Arial, sans-serif;
  background: #f1f1f1;
  height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
}
.chat-container {
  width: 100%;
  max-width: 400px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
}

h2 {
  text-align: center;
  background: #009688;
  color: #fff;
  margin: 0;
  padding: 15px;
}

.chat-box {
  height: 300px;
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  padding: 10px;
  border-radius: 8px;
  max-width: 75%;
}

.user {
  background: #e0f7fa;
  align-self: flex-end;
}

.bot {
  background: #eeeeee;
  align-self: flex-start;
}

.input-area {
  display: flex;
  border-top: 1px solid #ddd;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  height: 30px;
}

button {
  padding: 10px;
  border: none;
  background: #009688;
  color: white;
  cursor: pointer;
}
footer {
  text-align: center;
  padding: 10px;
  background: #009688;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer p {
  margin: 0;
  font-size: 18px;
}